<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
        }

        textarea {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <script>
        function chatbotresponse() {
            // alert(document.getElementById('result'))
            document.getElementById('result').value = "This is dummy"
        }
    </script>

</head>

<body>
    <h1>Welcome to ATL Chatbot</h1>
    <center><textarea name="result" id="result" cols="80" rows="20">{{data}}
            {{data1}}</textarea></center>

    <!--{{data}}
        {{data1}}-->
    <form method="POST" action="/chatbot/" name="Chatbot">
        {% csrf_token %}
        <center>
            <input type="text" id="input" cols="80" rows="20" name="input">
            <input type="hidden" id="state" cols="40" rows="10" name="state" value={{state}}>
            <button type="submit" name="chatbot">Enter</button>
        </center>
    </form>

    <br>
    <h3><center>Click on enter to start the chatbot to start the chatbot</center></h3>
    

    <!--<form method="POST" action="/startchat/" name="ATL-Webchat1">
        {% csrf_token %}
        <br>
        <center><button type="submit" name="startchat">Start Chat</button></center>

    </form>

    <form method="POST" action="/printQ/" name="ATL-Webchat2">
        {% csrf_token %}
        <br>
        <label for="your_name">Enter Name:</label>
        <input type="text" id="name" , name="name">
        <center><button type="submit" name="printQ">print question</button></center>

    </form>
    <form method="POST" action="/selectQ/" name="ATL-Webchat3">
        {% csrf_token %}
        <br>

        <label for="your_ques">Enter Question Number:</label>
        <input type="text" id="ques" , name="ques">
        <center><button type="submit" name="selectQ">select question</button></center>
    </form>-->
</body>

</html>
